.meter {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin: 3rem;
}

.meter .progress {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: conic-gradient(var(--clr) calc(var(--i) * 3.6deg), rgba(255, 255, 255, 0.1) 0deg);
}

.meter .progress h4 {
    position: absolute;
    font-size: 1.2rem;
    top: 52%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-weight: 500;
}

.meter .progress h5 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 2px;
}

.meter .progress::before {
    content: '';
    display: block;
    height: 100%;
    margin-left: 50%;
    transform-origin: left;
    border-radius: 0 100% 100% 0/50%;
}

.meter .progress::after {
    content: '';
    position: absolute;
    inset: 10px;
    border-radius: 50%;
    background: #444;
}

.meter .progress.hoverable::after {
    background: #666;
}

.meter .progress.hoverable:hover::after {
    background: #444;
}
